<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdwater.petmall.mapper.CollectMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">user_id,</if>
            <if test="petId!=null">pet_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">#{userId},</if>
            <if test="petId!=null">#{petId},</if>
        </trim>
    </insert>

    <select id="selectByUserIdAndPetId" resultType="com.cdwater.petmall.entity.Collect">
        select id, user_id, pet_id
        from collect
        where user_id = #{userId}
          and pet_id = #{petId}
    </select>

    <select id="selectByUserId" resultType="com.cdwater.petmall.model.vo.CollectPetVO">
        select c.id,
               c.pet_id,
               p.name        as petName,
               p.gender      as petGender,
               p.img         as petImg,
               p.price       as petPrice,
               p.store       as petStore,
               p.sale_status as petSaleStatus
        from collect c
                 left join pet p on c.pet_id = p.id
        where c.user_id = #{userId}
    </select>

    <!--删除操作__________________________________________________________________________________________________________-->
    <delete id="deleteByUserIdAndPetId">
        delete
        from collect
        where user_id = #{userId}
          and pet_id = #{petId}
    </delete>

    <delete id="deleteByUserId">
        delete
        from collect
        where user_id = #{userId}
    </delete>

    <delete id="deleteByUserIds">
        delete
        from collect
        where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteByPetId">
        delete
        from collect
        where pet_id = #{petId}
    </delete>

    <delete id="deleteByPetIds">
        delete
        from collect
        where pet_id in
        <foreach collection="petIds" item="petId" open="(" separator="," close=")">
            #{petId}
        </foreach>
    </delete>
    <!--删除操作__________________________________________________________________________________________________________-->
</mapper>
